input:focus {
  border-color: #00ACC1 !important;
}

.btn-show {
  position: absolute;
  right: 1%;
  top: 44%;
}

.form-check-input:checked {
  background-color: #00ACC1;
  border-color: #00ACC1;
}

.card .row:first-child .col-md-12:first-child {
  position: relative;
}

.card .row:first-child .col-md-12:first-child:before {
  content: '';
  position: absolute;
  background-color: #E53935;
  width: 80px;
  height: 5px;
  bottom: 0;
}

.card .btn-sign-in button.btn {
  background-color: #00ACC1;
  color: rgba(255, 255, 255, .9) !important;
}

.card .btn-sign-in button.btn:hover {
  background-color: rgb(0, 155, 173);
}

.card .row:last-child p a {
  color: #00ACC1;
  text-decoration: none;
}

.card .row:last-child p a:hover {
  text-decoration: underline;
}
