<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-md-1">
      <nav class="side-navbar shadow">
        <div class="header-nav text-center">
          <a class="navbar-brand" href="#">
            <img src="/assets/image/logo.png" alt="..." class="img-fluid" height="50" width="50">
          </a>
        </div>

        <ul class="nav-list-item">
          <li [ngClass]="(currentUrl.indexOf('/main') > 0 ? 'active ' : '') + 'nav-item'">
            <a routerLink="dashboard/main" class="nav-link">
              <i class="bi bi-speedometer"></i>
              Dashboard
            </a>
          </li>

          <li [ngClass]="(currentUrl.indexOf('/clients') > 0 ? 'active ' : '') + 'nav-item'">
            <a routerLink="dashboard/clients" class="nav-link w-100" role="button">
              <i class="bi bi-person-fill"></i>
              Clients
            </a>
          </li>

          <li [ngClass]="(currentUrl.indexOf('/projects') > 0 ? 'active ' : '') + 'nav-item'">
            <a routerLink="dashboard/projects" class="nav-link w-100" role="button">
              <i class="bi bi-briefcase-fill"></i>
              Projects
            </a>
          </li>

          <li [ngClass]="(currentUrl.indexOf('/members') > 0 ? 'active ' : '') + 'nav-item'">
            <a routerLink="dashboard/members" class="nav-link w-100" role="button">
              <i class="bi bi-people-fill"></i>
              Members
            </a>
          </li>

          <li [ngClass]="(currentUrl.indexOf('/tasks') > 0 ? 'active ' : '') + 'nav-item'">
            <a routerLink="dashboard/tasks" class="nav-link w-100" role="button">
              <i class="bi bi-file-earmark-post-fill"></i>
              Tasks
            </a>
          </li>

          <li [ngClass]="(currentUrl.indexOf('/tickets') > 0 ? 'active ' : '') + 'nav-item'">
            <a routerLink="dashboard/tickets" class="nav-link w-100" role="button">
              <i class="bi bi-kanban-fill"></i>
              Tickets
            </a>
          </li>

          <li [ngClass]="(currentUrl.indexOf('/users') > 0 ? 'active ' : '') + 'nav-item'">
            <a routerLink="dashboard/users" class="nav-link w-100" role="button">
              <i class="bi bi-person-circle"></i>
              Users
            </a>
          </li>

          <li [ngClass]="(currentUrl.indexOf('/help') > 0 ? 'active ' : '') + 'nav-item'">
            <a routerLink="dashboard/help" class="nav-link">
              <i class="bi bi-info-circle"></i>
              Help
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-md-11">
      <div class="container-fluid ps-0 p-4">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="row g-0">
              <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg bg-white shadow-sm rounded-2 px-3">
                  <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="nav me-auto">
                        <li class="nav-item d-flex text-muted" style="font-weight: 500;">
                          <a class="nav-link p-0 ps-1 text-dark" routerLink="dashboard/main">Dashboard</a>
                          <a class="nav-link p-0 ps-3 text-capitalize" style="color: #00ACC1;">
                            {{'/ ' + currentUrl.split('/')[2] }}
                          </a>
                        </li>
                      </ul>

                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item d-flex align-items-center">
                          <a class="nav-link fw-bold active" href="#"></a>
                        </li>
                      </ul>

                      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item me-3 pt-2 position-relative d-flex align-items-center">
                          <a class="nav-link fs-5" href="#">
                            <i class="bi bi-bell-fill"></i>
                            <span class="badge bg-danger rounded-pill position-absolute"
                                  style="font-size: 8px; top:10px; left: 18px">
                            0
                          </span>
                          </a>
                        </li>

                        <li class="nav-item d-flex align-items-center">
                          <a class="nav-link" href="#">
                            <img src="/assets/image/user.jpg" height="40" width="40" class="rounded-circle" alt="">
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>

          <div class="col-md-12 h-100">
            <div class="row g-0 position-relative">
              <div class="col-md-12 py-5">
                <app-client [hidden]="currentUrl !== '/dashboard/clients'"></app-client>
                <app-project [hidden]="currentUrl !== '/dashboard/projects'"></app-project>
                <app-member [hidden]="currentUrl !== '/dashboard/members'"></app-member>
                <app-tasks [hidden]="currentUrl !== '/dashboard/tasks'"></app-tasks>
                <app-ticket [hidden]="currentUrl !== '/dashboard/tickets'"></app-ticket>
                <app-user [hidden]="currentUrl !== '/dashboard/users'"></app-user>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
