<div class="row">
  <div class="col-md-12">
    <ejs-kanban keyField='Status' [dataSource]='data' [cardSettings]='cardSettings'
                [allowDragAndDrop]='true'>
      <e-columns>
        <e-column headerText='To do' keyField='Open'></e-column>
        <e-column headerText='In Progress' keyField='InProgress'></e-column>
        <e-column headerText='Testing' keyField='Testing'></e-column>
        <e-column headerText='Done' keyField='Close'></e-column>
      </e-columns>
    </ejs-kanban>`
  </div>
</div>
