<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-0">
      <div class="card rounded-0 border-0">
        <div class="row g-0 h-100">
          <div class="col-md-8">
            <div class="card-img rounded-0"></div>
          </div>

          <div class="col-md-4">
            <div class="row g-0 h-100 d-flex align-items-center justify-content-center">
              <div class="col-md-10">
                <app-sign-in [hidden]="currentUrl.indexOf('/sign-in') < 0"></app-sign-in>
                <app-sign-up [hidden]="currentUrl.indexOf('/sign-up') < 0"></app-sign-up>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
