<div class="card shadow-sm border-0">
  <div class="card-header fw-bold border-0 bg-white fs-6">Tasks list</div>

  <div class="card-body px-3">
    <form action="">
      <div class="position-relative mb-4">
        <input class="form-control rounded-1 border-2 pe-5" style="font-size: .9em;" id="passwordInput">
        <button type="button" ngClass="btn btn-search border-0">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>

    <form action="">
      <table class="table text-center border align-middle m-0">
        <tbody>
        <tr>
          <td style="width: 5%;">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" checked>
            </div>
          </td>
          <td style="width: 30%;">Task-1</td>
          <td style="width: 15%;">BMCE(App mobile)</td>
          <td style="width: 15%;">Ismaini Hamid</td>
          <td style="width: 12.5%;">
            <button class="btn bg-success-subtle w-100 border-0 fw-bold">Should to do</button>
          </td>
          <td style="width: 12.5%;">
            <button class="btn bg-primary-subtle w-100 fw-bold border-0">
              <span>To do</span>
              <i class="bi bi-caret-down ms-3" style="font-size: .75em;"></i>
            </button>
          </td>
          <td style="width: 10%;">
            <div class="btn-group w-100">
              <button type="button" class="btn btn-outline-danger btn-sm">
                <i class="bi bi-trash"></i>
              </button>
              <button class="btn btn-outline-warning btn-sm"><i class="bi bi-pencil"></i></button>
            </div>
          </td>
        </tr>

        <tr [hidden]="addTask">
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" checked>
            </div>
          </td>

          <td>
            <input type="text" class="form-control" placeholder="Task ...">
          </td>

          <td>
            <select class="form-select">
              <option selected disabled>Projects ...</option>
              <option *ngFor="let project of projects" [ngValue]="project">{{project.name}}</option>
            </select>
          </td>

          <td>
            <select class="form-select">
              <option value="">Team ...</option>
            </select>
          </td>

          <td colspan="2">
            <select class="form-select">
              <option selected disabled>Type ...</option>
              <option value="Should To do">Should To do</option>
              <option value="Have To do">Have To do</option>
              <option value="Could To do">Could To do</option>
              <option value="Couldn't To do">Couldn't To do</option>
            </select>
          </td>

          <td>
            <button class="btn btn-outline-success w-100 btn-sm" (click)="findAllProject()">
              <i class="bi bi-floppy"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>

  <div class="card-footer bg-white text-center px-3 pt-0 pb-3 border-0">
    <button (click)="showForm()" class="btn btn-sm py-1 btn-create rounded-1 w-100">
      <span [ngClass]="(addTask ? 'd-flex align-items-center justify-content-center' : '')" [hidden]="!addTask">
        <i class="bi bi-plus me-2"></i>
        Show form client
      </span>
      <span [ngClass]="(!addTask ? 'd-flex align-items-center justify-content-center' : '')" [hidden]="addTask">
        <i class="bi bi-dash me-2"></i>
        Hide client form
      </span>
    </button>
  </div>
</div>
