.btn-show {
  position: absolute;
  right: 1%;
  top: 44%;
}

.card .row:first-child .col-md-12:first-child:before {
  content: '';
  position: absolute;
  background-color: #E53935;
  width: 80px;
  height: 5px;
  bottom: 0;
}

.card .row:first-child .col-md-12:first-child {
  position: relative;
}

.card .btn-sign-in button.btn {
  background-color: #344A53;
  color: rgba(255, 255, 255, .9) !important;
  transition: .5s;
}

.card .row:last-child p a {
  color: #00ACC1;
  text-decoration: none;
}

.card .row:last-child p a:hover {
  text-decoration: underline;
}
